#linhasalas td {
	 border-right: solid 1px #ccc !important;
}
#busca {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 40px;
}
th, td {
	text-align: center;
	font-size: 12px;
}
#cab1 {
	background-color: #aaa;
}
#cab2 {
	background-color: #ccc;
}
#logo img {
	width: 120px;
	height: 164px;
}
#contador {
	text-align: center;
}
a { 
	font-size: 12px !important;
	color: #000;
}
